.header{
    border: solid 3px ;
    border-color: red;
    width: 800px;
    height: 200px;
}
.section{
    border: solid 3px;
    border-color: orange;
    width: 700px;
    height: 300px;
    text-align: center;
    padding-top: 100px;
    font-size: 40px;
    margin-left: 100px;
    vertical-align: middle;
}
.nav{
    display: flex;
    position: absolute;
    border: solid 3px ;
    border-color: orange;
    width: 100px;
    height: 400px;
    top: 213px;
}
.footer {
    border: solid 3px ;
    border-color: gray;
    width: 800px;
    height: 150px;
    text-align: center;
    font-size: 50px;
    padding-top: 75px;
}