.body {
    font-family: font-family'Inika', serif;
    height: auto;
    margin: 0;
}

.h1 {
    margin: 72px 30px;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Inika', serif;
}

.line {
    width: 625px;
    border-bottom: 5px solid #3E45E8;
}

.header {
    min-height: 50px;
    max-height: 103px;
    color: #3E45E8;
    text-align: center;
    font-size: 48px;
    font-weight: 400px;
    padding-top: 25px;
    padding-bottom: 31px;
    letter-spacing: 15px;
}

.header-span {
    color: #E8C23E;
}

.banner {
    background-image: url("../img/vilage.jpg");
    width: 100%;
    height: 803px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 342px;
    padding-left: 80px;
}

.content {
    background-image: url("../img/flag.jpg");
    box-sizing: border-box;
    height: 40%;
    background-repeat: no-repeat;
    font-size: 48px;
    font-family: 'Inika', serif;
    color: white;
    width: 22em;
    padding-left: 46px;
    line-height: 72px;
}
.content_text {
    margin: 0;
}

.main {
    padding: 0 0;
}

.card {
    border: 1px solid black;
    color: #030303;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    border-radius: 32px;
    box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);

}

.card__image {
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
}

.card_margin {
    margin: 0 4%;
    border-radius: 30px;
}

.card__title {
    font-size: 24px;
    color: #3E45E8;
    padding: 10px;
    box-sizing: border-box;
}

.card__subtitle {
    font-size: 20px;
    font-weight: 400;
    color: #E8C23E;
    padding: 10px;
    box-sizing: border-box;
}

.map {
    padding-left: 140px;
    box-sizing: border-box;

}
.map_uk {
    width: fit-content;
    margin: auto;
    text-align: center;
}

.button{
    margin-top: 20px;
}
.button_link {
    color: white;
    font-weight: 700;
    font-size: 64px;
    text-decoration: none;}


.button_content {
    width: 500px;
    height: 121px;
    background-color: #2A61F0;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.button_content_main {
    padding-top: 10px;
}
.block_content{
    padding-top: 50px;
}
.connect {
    text-align: center;
    color: #2A61F0;
    border: solid;
    font-size: 48px;
    font-weight: 400;
    background: #2F4A4B;
}

.connect_uk {
    color: #E8C23E;

}

.connect_adr {
    color: #A89D9D;
}

.mail{
    color: #A89D9D;
    font-size: 36px;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Marcellus', serif;
    letter-spacing: 5px;
    margin: 21px 0;
}


.line_victory {
    width: 600px;
    border-bottom: 5px solid #3E45E8;
    margin: auto;

}

.connect_mess{
    display: inline-block;
    
}

.connect_mess_img{
    
    border: 1px solid black;
    color: #030303;
    display: inline-block;
    overflow: hidden;
    border-radius: 64px;
    width: 63px;
    height: 63px;
}