@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Roboto:wght@400;500&display=swap');

html {
    font-size: 10px;
    
}

.build {
    max-width: 1400px;
    min-width: 800px;
    height: 1500px;
    background-color: white;
    margin: 0 auto;
}

.bicycle {
    background-color: black;
    width: 100%;
    height: 773px;
}

.img {
    display: flex;
    position: relative;
    right: -680px;
    top: 100px;
    width: 500px;
    height: 740px;
    
    
}
.titel{
    display: flex;
    flex-direction:row;
}
.titel_right{
    position: absolute;
    color: white;
    bottom: 88rem;
    font-size: 2rem;
    right: 30rem;

}


.colum{
    display: flex;
    flex-direction: column;
    color: white;
    width: 30%;
    margin-left: 15rem;
}
.colum0{
    font-size: 34px;
    color: white;
    margin-top: -74rem;
    font-family: 'Poppins';
    font-weight: 500;
}
.colum1{
    font-size: 5.4rem;
    margin-top: 19rem;
    font-family:'Poppins';
    font-weight: 600;

}
.colum2{
    font-size: 18px;
    margin-top: 2rem;
    font-family: 'Roboto';
}
.colum3{
    margin-top: 3rem;
    font-size: 20px;
    font-family: 'Poppins';
    text-align: center;
    width: 200px;
    height: 50px;
    background-color: #F6AD09;
    border-radius: 5px;
    color: black;
    padding: 1.5rem 0.5rem 0.5rem 1rem;
}
.title_next{
font-size: 5.4rem;
font-family:'Poppins';
font-weight: 600;
position: absolute;
left: 220px;
top: 830px
}